.RecipesList {
  height: 60vh;
  margin: 20px 0;
  overflow: auto;

}

.RecipesList .recipes-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}