.LandingPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.LandingPage .header {
    background-color: '#fff';
    left: 50%;
    top: 40%;
    border-radius: 9px;
    background-color: #ffffffde;
    position: absolute;
    width: 80%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.LandingPage__description {
  background: linear-gradient(
    0deg,
    rgb(236 109 109) 0%,
    rgb(228 157 157) 35%,
    rgb(255 224 224) 100%
  );
  line-height: 1.7;
}

.LandingPage__description p {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.LandingPage .account-link {
  background-color: #f3a174;
  border: 1px solid #f3a174;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
}

.LandingPage .account-link:hover {
  color: black;
}

.LandingPage .loader-grid {
  display: flex;
  justify-content: center;
}
