.LandingPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.LandingPage .container {
  background-color: #00000038;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
}

.LandingPage__description {
  margin: 20px auto;
  line-height: 1.7;
  text-align: justify;
  width: 90%;
  color: white;
  font-weight: bolder;
}

.LandingPage .account-link {
  cursor: pointer;
  background-color: #ffffff00;
  border: 1px solid white;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.loader-grid {
  margin: 0 auto;
}