.LandingPage {
  display: flex;
  flex-direction: column;
}

.LandingPage__description {
  margin: 20px auto;
  line-height: 1.7;
  text-align: justify;
  width: 90%;
}

.LandingPage .account-link {
  background-color: white;
  border: none;
  color: rgba(6, 104, 71, 0.932);
  display: block;
  margin: 0 auto;
}

.loader-grid {
  margin: 0 auto;
}