.LoginForm {
  background: rgb(230 126 69);
  background: linear-gradient(
    0deg,
    rgb(230 126 69) 0%,
    rgb(243 161 116) 35%,
    rgb(255 215 192) 100%
  );
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px auto;
  padding: 20px;
  width: 75%;
}
.LoginForm__image {
  margin-bottom: 25px;
}

.LoginForm__image img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.demo {
  background-color: #f5f5f538;
  border-radius: 50%;
  font-size: 10px;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.demo p:nth-child(1) {
  font-weight: bold;
}

.demo p:nth-child(1)::before,
.demo p:nth-child(1)::after {
  content: '-';
}

.demo p:nth-child(2),
.demo p:nth-child(3) {
  font-style: italic;
}
