.EditRecipe {
  background-color: #ffffffbf;
  margin: 0 auto;
  padding: 20px;
  width: 95%;
}

.EditRecipe .image-container {
  display: flex;
  margin-bottom: 15px;
}

.EditRecipe .edit-image {
  margin: 0 auto;
  width: 200px;
}

.EditRecipe img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 100%;
}

.EditRecipe select {
  padding: 5px;
  width: 100%;
}

.EditRecipe .button-container {
  display: flex;
  flex-direction: column;
}

.EditRecipe button {
  outline: none;
  border-radius: 5px;
}

.EditRecipe button.add-new {
  padding: 10px;
  background-color: rgba(255, 215, 192, 1);
  margin: 10px auto;
}

.EditRecipe button.cancel-new {
  border: none;
  background: none;
  cursor: pointer;
}