.SearchFilter .FormField {
  margin: 20px 5px;
}

.SearchFilter select {
  background-color: #ffffff21;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  padding: 5px;
  width: 95%;
}