/* Universal Styles */
.FormField {
  margin-bottom: 20px;
}

.FormField a {
  display: block;
  text-align: center;
}

.FormField__label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
}

.FormField__input {
  background: none;
  border: none;
  border-bottom: 1px solid #445366;
  font-size: 1.2em;
  line-height: 2;
  outline: none;
  width: 100%;
}

.FormField__button {
  display: block;
  width: 100%;
}

/* APP COMPONENT */
.App {
  margin: 0 auto;
}

.App h1 {
  text-align: center;
}

.App a {
  text-decoration: none;
}

/* ------- TABLETS -------- */
@media only screen and (min-width: 600px) {
  .RecipesList {
    margin: 20px auto;
  }

  .RecipesList .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .RecipeItem .item_image {
    height: 200px;
  }

  .RecipeCardModal .recipe-image {
    box-shadow: none;
  }

  .AddRecipe {
    clear: both;
  }

}

/* ------- DESKTOP/LARGE DEVICE -------- */
@media only screen and (min-width: 768px) {
  .Navigation {
    float: right;
    margin-top: 15px;
  }

  .RecipesPage,
  .MealsPage {
    clear: both;
  }
  .RecipesList .recipes-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .Meals__info .info_box {
    justify-content: normal;
  }
}
