/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

.FormField {
  margin-bottom: 20px;
}

.FormField a {
  display: block;
  text-align: center;
}

.FormField__label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
}

.FormField__input {
  background: none;
  border: none;
  border-bottom: 1px solid #445366;
  font-size: 0.9em;
  line-height: 2;
  outline: none;
  width: 100%;
}

.FormField__button {
  display: block;
  width: 100%;
}

/* APP COMPONENT */
.App {
  margin: 0 auto;
}

.App h1 {
  text-align: center;
}

.App a {
  text-decoration: none;
}

/* ------- TABLETS -------- */
@media only screen and (min-width: 600px) {
  .RecipeItem {
    width: 30%;
  }

  .RecipeItem .item_image {
    height: 200px;
  }
}

/* ------- DESKTOP/LARGE DEVICE -------- */
@media only screen and (min-width: 768px) {
  .Navigation {
    /* display: initial; */
    float: right;
    margin-top: 15px;
  }

  .RecipesPage,
  .MealsPage {
    clear: both;
  }

  .RecipeItem {
    width: 22%;
  }

  .Meals__info .info_box {
    justify-content: normal;
  }
}
