/* Universal Styles */
.FormField {
  margin-bottom: 20px;
}

.FormField a {
  display: block;
  text-align: center;
}

.FormField__label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
}

.FormField__input {
  border: none;
  border-bottom: 1px solid #445366;
  font-size: 0.9em;
  line-height: 2;
  outline: none;
  width: 100%;
}

.FormField__button {
  display: block;
  width: 100%;
}

/* APP COMPONENT */
.App {
  /* width: 90%; */
  margin: 0 auto;
}

.App h1 {
  text-align: center;
}

.App a {
  text-decoration: none;
}

