@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1, h2, h3, h4, label {
  font-family: 'Varela Round', sans-serif;
}

.Main {
  min-width: 320px;
  margin: 0 auto;
  height: 100vh;
}

.Main a {
  text-decoration: none;
  text-align: center;
}

.app-background {
  background-image: url('../../assets/kim-daniels-P2qImp_Mr2Y-unsplash.jpg'); 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gradient {
  background: #ffc051f0;
  background: linear-gradient(96deg, #fcb401 4%, #ffc379 30%, #fdf2e6 100%);
}

.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.NotFoundPage .fa-exclamation {
  display: block;
  margin: 0 auto;
}

/* ------- DESKTOP/LARGE DEVICE -------- */
@media only screen and (min-device-width: 768px) {
  .Logo {
    display: initial;
    margin: 0 0 0 20px;
    float: left;
  }

  .Logo img {
    width: 150px;
  }

  .LandingPage {
    clear: both;
  }

  .RegistrationForm,
  .LoginForm {
    width: 70%;
  }
}

/* ------- PHONE LANDSCAPE -------- */
@media screen and (orientation: landscape) and (min-device-width: 320px) /* and (max-device-width: 812px) */ and (-webkit-device-pixel-ratio: 3) {
  .Logo {
    display: flex;
    margin: 0px;
    float: none;
  }

  .Logo img {
    width: 250px;
  }

  .Navigation {
    display: flex;
    float: none;
  }

  .LandingPage__description {
    width: 70%;
    margin: 20px auto;
  }

  .RegistrationForm,
  .LoginForm {
    width: 70%;
    margin: 10px auto;
  }

  .RecipeItem {
    width: 22%;
  }
}
