.PageHeader {
  /* font-family: 'Pompiere', cursive; */
  background-color: #f7cb95ba;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}
