.Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.Navigation a {
  border-right: 1px solid white;
  color: black;
  font-weight: bolder;
  padding: 0 10px;
}

.Navigation a:last-child {
  border-right: none;
}

.Navigation .item {
  display: flex;
  flex-direction: column;
}

.Navigation .item:hover {
  color: #ed7272;
}

.Navigation .nav-icon {
  margin: 0 auto;
  font-size: 1.25em;
}
