.RecipeCardModal h2 {
  text-align: center;
  text-transform: uppercase;
}

.RecipeCardModal .recipe-information {
  background-color: #ffffff;
  padding: 10px;
}

.RecipeCardModal .recipe-image {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  height: 200px;
  margin-bottom: 15px;
}

.RecipeCardModal .recipe-image img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.RecipeCardModal .info-container {
  height: 275px;
  overflow: auto;
}

.RecipeCardModal .label, .RecipeCardModal label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6em;
  border-bottom: 1px solid #d6cfcf;
}

.RecipeCardModal .recipeOptions select {
  background: #e49d9dab;
  border: none;
  text-align: center;
  text-align-last: center;
}

.RecipeCardModal .recipeOptions option {
  text-align: center;
}

.RecipeCardModal .recipeOptions button {
  background-color: #f7cb95;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.RecipeCardModal .FormFields {
  margin-top: 15px;
  font-size: 0.3em;
}

.RecipeCardModal .FormField__select {
  display: block;
  font-size: 1rem;
  height: 2rem;
  margin: 5px 0;
  width: 100%;
}

.RecipeCardModal .edit-delete {
  display: flex;
  
  margin-top: 20px;
  justify-content: space-between;
}

.RecipeCardModal .edit-recipe {
  color: #504949;
  font-size: 1em;
  text-decoration: none;
}

.RecipeCardModal .edit-recipe:hover {
  cursor: pointer;
  color: #e67e45;
}

.RecipeCardModal .delete-recipe {
  background: none;
  border: none;
  color: #504949;
  display: block;
  font-size: 1em;
}

.RecipeCardModal .delete-recipe:hover {
  cursor: pointer;
  color: #b30000;
}


